body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

nav a:hover {
    color: black;
}

.hero {
    text-align: center;
    padding: 50px;
}

.hero img {
    width: 150px;
    border-radius: 50%;
}

section {
    padding: 20px;
    background: white;
    margin: 20px;
}

footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 10px;
}